@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?7nhyd4');
  src:  url('fonts/icomoon.eot?7nhyd4#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?7nhyd4') format('truetype'),
    url('fonts/icomoon.woff?7nhyd4') format('woff'),
    url('fonts/icomoon.svg?7nhyd4#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chat:before {
  content: "\e900";
  color: #1fb154;
}
.icon-telephone:before {
  content: "\e901";
}
.icon-cv-file-interface-symbol:before {
  content: "\e902";
  color: #1fb154;
}
.icon-feedback:before {
  content: "\e903";
  color: #1fb154;
}
.icon-career:before {
  content: "\e904";
  color: #1fb154;
}
.icon-file-text:before {
  content: "\e922";
}
.icon-phone:before {
  content: "\e942";
}
.icon-flag:before {
  content: "\e9cc";
}
.icon-arrow-right2:before {
  content: "\ea3c";
}
.icon-arrow-left2:before {
  content: "\ea40";
}
