
    @media only screen and (max-width: 991px) {
   
    }
    @media only screen and (max-width: 575px) {
    }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      
    }
    @media only screen and (max-width: 767px) {
        .header_txtbig {
            font-size: 24px;
        }
        .header_txtsmall {
            font-size: 16px;
        }
        .drop_resume {
            padding: 23px 23px;
        }
        .upload_leftcontent {
            width: 100%;
        }
        .resumeupload_imgtxt {
            margin-right: 0px;
            font-size: 18px;
        }
        .upload_img {
            margin-top: 30px;
            margin-bottom: 30px;
        }
        .upload_rightcontent {
            width: 100%;
            padding: 30px 14px 20px;
            margin-top: 30px;
        }
        .score-txt {
            font-size: 19px;
        }
        .cv-review h2 {
            margin-top: 40px;
            margin-bottom: 40px;
            font-size: 25px;
        }
        .cv-review .d-flex,.need-help .d-flex {
            display: block !important;
        }
        .imgfoot_text {
            margin-right: 0px;
        }
        .contact-cv {
            width: 100%;
        }
        .cv-expert {
            width: auto;
            margin: 0px 0px 20px 0px;
        }
        .cv-review {
            padding: 30px 0px;
        }
        .professional {
            min-height: 230px;
            margin-top: 20px;
        }
        .faster_cv .container {
            padding: 50px 0px;
        }
        .faster_cv p {
            font-size: 13px;
        }
        .faster_cv h1 {
            font-size: 20px;
        }
        .need-help h2{font-size: 31px;}
        .need-help .container {
            padding: 30px 40px;
        }
    }
    